// @import "./variables.module";
@use "variables.module" as *;
@use "mixins" as *;

.main {
    @include sp_layout();
}

.flex_item_opening {
    @include sp_opening_tag();
}

.flex_item_closing {
    @include sp_closing_tag();
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-start;
    // background-color: pink;
}

input,
textarea {
    width: 40vw;
    margin-bottom: 1vh;
    min-height: 3vh;
}

textarea {
    min-height: 10vh;
    resize: none;
    // width: 50vw;
}

.button {
    // line-height: 50px;
    text-align: center;
    cursor: pointer;
    width: 10vw;
    align-self: flex-end;
    margin-right: 20vw;
    // box-shadow: 2px 2px 5px $background-color;
    // background: none;
    color: black;
    font-weight: bold;
    // color: #fff;
    transition: all 0.3s;
    // position: relative;
}

.span {
    // line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    // width: 10vw;
    // align-self: flex-end;
    // margin-right: 20vw;
    // box-shadow: 2px 2px 5px black;
    // background: none;
    color: $background-color;
    font-weight: bold;
    // color: #fff;
    // transition: all 0.3s;
    // position: relative;
}
