// @import "./variables.module";
@use "variables.module" as *;
@use "mixins" as *;

.main {
    @include sp_layout();
}

.flex_item_opening {
    @include sp_opening_tag();
}

.flex_item_closing {
    @include sp_closing_tag();
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // justify-content: flex-end;
    justify-content: center;

    // align-items: flex-end;
    align-items: center;

    // align-content: flex-start;
    // background-color: pink;
}

input,
textarea {
    // DESKTOP
    // width: 40vw;

    // MOBILE
    width: 80vw;

    margin-bottom: 1vh;
    min-height: 5vh;
    color: $background-color;
    font-size: 1.5rem;
    padding-left: 0.5vw;
    // font-weight: bold;
}

textarea {
    min-height: 20vh;
    resize: none;
    padding-top: 1vh;
    // width: 50vw;
}

.button_container {
    // background-color: blue;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button {
    cursor: pointer;
    background-color: $font-color;
    width: 30vw;
    border: none;
}

.span {
    // line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    // width: 10vw;
    // align-self: flex-end;
    // margin-right: 20vw;
    // box-shadow: 2px 2px 5px black;
    // background: none;
    color: $background-color;
    font-weight: bold;
    // color: #fff;
    // transition: all 0.3s;
    // position: relative;
}
