@use "variables.module" as *;
@use "mixins" as *;

.nav {
    border: $test_border;
}

.menuToggle {
    display: block;
    position: relative;
    margin-top: 0.5vh;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

.menuToggle .a {
    text-decoration-style: wavy;
    color: $orange-color;

    transition: color 0.3s ease;
}

.menuToggle .a:hover {
    color: tomato;
}

.menuToggle .input {
    // margin-top: 1vh;

    display: block;
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    width: 11vw;
    height: 10vh;
    position: absolute;
    margin-top: -4vh;
    margin-left: -1.5vw;

    cursor: pointer;

    opacity: 0; /* hide this => change back to 0 */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle .span {
    display: block;
    // float: right;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: $font-color;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle .span:first-child {
    transform-origin: 0% 0%;
}

.menuToggle .span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
TRANSFORM ALL THE SLICES OF HAMBURGER INTO A CROSSMARK
 */
.menuToggle .input:checked ~ .span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: $yellow-color;
}

/*
 HIDE THE MIDDLE ONE
 */
.menuToggle .input:checked ~ .span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle .input:checked ~ .span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*

 * Make this absolute positioned
 * at the top left of the screen
 */
.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;

    // !! STYLE MARGIN TO THE CORRECT POSITION
    margin: -7.5vh 0vw 0vh 20vw;
    padding: 10vh 10vw 10vh 5vw;

    // background: pink;
    // opacity: 0.8;
    background: rgba(0, 0, 0, 0.8);

    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu .li {
    padding: 10px 0;
    font-size: 22px;
    color: $pink-color;
    font-weight: bold;
    font-style: italic;
    text-align: end;
}

/*
SLIDE IT IN FROM THE LEFT
 */
.menuToggle .input:checked ~ .ul {
    transform: none;
}
