@use "variables.module" as *;

@mixin sp_layout() {
    .flex_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // border: orange 5px solid;
        align-items: flex-start;
        width: 100vw;
        min-height: 100vh;
        z-index: 10;
        // background-color: green;
    }

    .flex_item_opening {
        margin: 8vh 0 0 10vw;
        font-size: 1rem;
        // border: $test_border;
    }

    .flex_item_closing {
        margin: 3vh 0 0 10vw;
        font-size: 1rem;
        // border: $test_border;
    }

    .flex_item_content {
        margin: 3vh 0 0 20vw;
        font-size: 2rem;
        // border: $test_border;
        width: 60vw;
        // min-height: 50vh;
        height: auto;
    }
}

@mixin sp_opening_tag() {
    .span_pink {
        font-size: 1rem;
        color: $pink-color;
    }

    .span_yellow {
        font-size: 1rem;
        color: $yellow-color;
    }

    .span_green {
        font-size: 1rem;
        color: $green-color;
    }
}

@mixin sp_closing_tag() {
    .span_pink {
        font-size: 1rem;
        color: $pink-color;
    }
}

@mixin modal_container() {
    .modal_background {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 200;
    }

    .modal_content {
        width: 80vw;
        height: 80vh;
        // background-color: pink;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .modal_header {
        padding: 2vh 2vw 0vh 0vw;
        // background-color: pink;
        width: 80vw;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 4rem;
        // color: $background-color;
        // cursor: pointer;
    }

    .modal_body {
        padding: 10px;
        // background-color: white;
        // background-color: blue;
        width: 80vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 5rem;
        color: $background-color;
        // border-top: 1px solid #eee;
        // border-bottom: 1px solid #eee;
    }

    iframe {
        border: 0.5rem solid $font-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 90%;
        width: 80%;
    }
}
