@use "variables.module" as *;
@use "mixins" as *;

.main {
    @include sp_layout();
}

.flex_item_opening {
    @include sp_opening_tag();
}

.flex_item_closing {
    @include sp_closing_tag();
}

.projects_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    // border: $test_border;
}

.project_item {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: auto;
    margin: 2vh 2vw 2vh 2vw;
    transition: transform 0.5s; /* Animation */
    overflow: hidden;
}

div.project_item > img {
    width: 80vw;
    height: auto;
}

.description {
    width: 80vw;

    margin-bottom: 5vh;
    // display: block;
    font-size: 1.5rem;
    text-align: justify;
}

a {
    color: $font-color;
}
.a_projects {
    width: 40vw;
    margin-bottom: 0.001vh;
    font-size: 1.7rem;
    // DESKTOP
    // padding-right: 0.5vw;

    // MOBILE
    padding-right: 3vw;

    text-decoration: none;
    // font-weight: bold;
}

.running_text {
    font-size: 1.5rem;
    text-align: justify;
}

.a_projects_icon {
    // width: 40vw;
    // margin-bottom: 0.001vh;
    // font-size: 1.5rem;

    // MOBILE
    // padding-right: 0.5vw;

    // // DESKTOP
    padding-right: 2vw;
    font-size: 2.5rem;
}

.icons_new {
    margin-bottom: -1.5vh;
}

@media only screen and (min-width: 769px) {
    .running_text {
        width: 60vw;
        text-align: justify;
        // border: $test_border;
    }

    .project_item {
        display: flex;
        justify-content: center;
        width: 60vw;
        height: auto;
        margin: 2vh 2vw 2vh 2vw;
        // transition: transform 0.5s; /* Animation */
        overflow: hidden;
        // border: $test_border;
    }

    .project_item:hover {
        transform: scale(1.5);
        cursor: pointer;
    }

    div.project_item > img {
        width: 60vw;
        height: auto;
    }

    .description {
        // background-color: blue;
        width: 60vw;
        margin-bottom: 5vh;
        // display: block;
        font-size: 1.5rem;
        text-align: justify;
        margin-top: -1vh;
        padding-top: 10vh;
    }

    .a_projects {
        // border: $test_border;

        // margin-bottom: 0.001vh;
        font-size: 1.7rem;
        // DESKTOP
        // padding-right: 0.5vw;

        text-decoration: none;
        padding-right: 1vw;
    }

    .a_projects:hover {
        color: $orange-color;
    }

    .running_text {
        font-size: 1.5rem;
        text-align: justify;
    }

    .a_projects_icon {
        // border: $test_border;
        padding-right: 1vw;
        padding-bottom: 0vh;
        font-size: 2.5rem;
        color: pink;
    }
    .a_projects_icon i:hover {
        // border: $test_border;
        // padding-right: 1vw;
        // padding-bottom: 0vh;
        // font-size: 2.5rem;
        color: $orange-color;
    }

    .icons_new {
        margin-bottom: -2vh;
        margin-top: -10vh;
        // border: $test_border;
    }
}
