@use "variables.module" as *;
@use "mixins" as *;

.main {
    @include sp_layout();
}

.flex_item_opening {
    @include sp_opening_tag();
}

.flex_item_closing {
    @include sp_closing_tag();
}

.projects_container {
    display: flex;
    flex-flow: column nowrap;
    // MOBILE
    justify-content: center;

    align-items: center;
    align-content: space-between;
}

.project_item {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: auto;
    // border-radius: 50%;
    margin: 2vh 2vw 2vh 2vw;
    // border: $test_border;
    transition: transform 0.5s; /* Animation */
    overflow: hidden;
}

.project_item:hover {
    transform: scale(1.5);
    background-color: orange;
    cursor: pointer;
}
div.project_item > img {
    width: 40vw;
    height: auto;
}

.description {
    width: 40vw;
    margin-bottom: 5vh;
    display: block;
    font-size: 1.125rem;
}

.a {
    width: 40vw;
    margin-bottom: 0.001vh;
    display: block;
    font-size: 1.3rem;
}
