// @import "./variables.module";
@use "variables.module" as *;
@use "mixins" as *;

.main {
    @include sp_layout();
}

.flex_item_opening {
    @include sp_opening_tag();
}

.flex_item_closing {
    @include sp_closing_tag();
}

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10vw;

    font-size: 9rem;
    // DESKTOP
    // margin: 3vw;

    // MOBILE
    margin: 1vh 3vw 3vh 0vw;

    // border: $test_border;

    // MOBILE
    width: 80vw;
}

.running_text {
    font-size: 1.5rem;
    text-align: justify;
}
