// @import "./variables.module";
@use "variables.module" as *;
@use "mixins" as *;

.main {
    @include sp_layout();
}

.flex_item_opening {
    @include sp_opening_tag();
}

.flex_item_closing {
    @include sp_closing_tag();
}

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 9rem;
    margin: 3vw;
}

.running_text {
    font-size: 1.5rem;
    text-align: justify;
}
