$background-color: #23262e;
// $background-color: white;

$font-family: "Source Code Pro", monospace;

$font-color: #d5ced9;
$yellow-color: #ffe66d;
$green-color: #96e072;
$pink-color: #ff00aa;
$purple-color: #c668ba;
$orange-color: #fc644d;

$sp_element_padding: 0 10vw 0 10vw;

$test_border: 1px solid green;
