// @import "./variables.module";
@use "variables.module" as *;
@use "mixins" as *;

// .main {
//     @include sp_layout();
// }

// .span {
//     font-size: 2rem;
//     color: $yellow-color;
// }

// .flex_item_opening {
//     @include sp_opening_tag();
// }

// .flex_item_closing {
//     @include sp_closing_tag();
// }

.flex_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // border: orange 1px solid;
    align-items: flex-start;
    width: 100vw;
    min-height: 100vh;
}

.flex_item_content h1 {
    margin: 11vh 0 0 10vw;
    font-size: 3.8rem;
    // border: $test_border;
    width: 70vw;
    min-height: 80vh;
    line-height: 140%;
    // text-align: justify;
}

.name_spacing {
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.span {
    color: $yellow-color;
    font-size: 4rem;
}
